@import './varibles.scss';
@import './utilities.scss';

.client {
    width: 100%;
    height: 30vh;
    background: #fff;
    text-align: center;
    color: #B3B7BC;
    ;

    @include smallDevices {
        width: 100%;
    }

    & h5 {
        margin-top: 8rem;
        font-size: 19px
    }

    .cllogo {
        color: #B3B7BC;
        ;

        & ul {
            // @include flexBtw;
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 3rem;
            margin-top: 3rem;
            list-style: none;
            @include smallDevices {
                display: grid;
                gap: 1rem;
                  }
                     
            li {
                text-decoration: none;
                font-size: 29px;
            }

        }

    }

}