@import './varibles.scss';
@import './utilities.scss';

.community{
    width: 100%;
    height: 50vh;
    background: #fff;
    @include grid;
    align-items: center;
    text-align: center;
    margin-top: 12rem;
    .text {
        // @include text;
        margin-top: 4rem;
        margin-right: 1rem;
        h5{
            color: #FBBA33;
        }
     }
 
    .unity{
        width: 400px;
        height: 400px;
         .unityline1 , .unityline2 , .unityline3 , .unityline4{
        padding: 60px;
         }
         .unityline1{
            & img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
         .unityline2{
            @include flex;
            gap: 8rem;
            padding: 0px 70px;
            & img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
              
            }
        }
         .unityline4{
            & img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
 
}