@import './varibles.scss';
@import './utilities.scss';
@import './media.mdule.scss';

.happy {
    width: 100%;
    height: 100vh;
    background: #fff;
    place-content: center;
    text-align: center;

    & h4 {
        margin-top: 8rem;
        font-size: 40px;
        margin-bottom: 1rem;
    }

    &p {
        position: absolute;
        width: 551px;
        height: 56px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #426666;
        margin-left: 27rem;
    }

    .happygrid {
        margin-top: 8rem;
        display: flex;
        padding: 0px 120px;

        .happytext {
            width: 100%;
            height: 500px;
            margin-top: 4rem;

            & p {
                margin-bottom: 3rem;
            }

            .happylogo {
                background: #9D6BE8;
                width: 70px;
                height: 70px;
                margin-left: 7rem;
                border-radius: 50%;

            }

            .happylogo2 {
                background: #DE2778;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-bottom: 3rem;
            }

            .happybuy {
                position: absolute;
                margin-left: 3rem;
                width: 477px;
                height: 144px;
                font-family: 'Inter';
                font-style: italic;
                font-weight: 500;
                font-size: 22px;
                line-height: 36px;
                color: #6D6D6D;

            }

            .happysmith {
                margin-top: 8rem;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                color: #1C1C1D;
            }
        }

        .happypic {
            width: 100%;
            height: 500px;
        }
     i{
        font-size: 29px;
        &:hover{
          color:#9D6BE8;
        }
     }
        .next {
            @include flex;
            margin-left: 18rem;
            margin-top: 3rem;
            gap: 3rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #9C988F;
            cursor: pointer;
        }
    }
}