$smallDevices : 350px;
$mediumDevices : 780px;
$largeDevices : 1400px;

@mixin smallDevices{
   @media(max-width:$smallDevices){
       @content;
   }
}

@mixin mediumDevices{
    @media(max-width:$mediumDevices){

    }
}

@mixin largeDevices{
    @media(max-width:$largeDevices){

    }
}



    