@import './varibles.scss';
@import './utilities.scss';
@import './media.mdule.scss';

.solution{
    width: 100%;
    height: 30vh;
    background: #fff;
    place-content: center;
    text-align: center;
    & h4{
        margin-top: 8rem;
        font-size: 40px;
        margin-bottom:1rem;
    }
    & p{
        position: absolute;
        width: 551px;
        height: 56px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #426666;
        margin-left: 27rem;
        @include smallDevices {
            margin-left: 18rem;
            font-size: 20px;
             }
                
                @include mediumDevices {
                    transform: translateX(-120px);
                    font-size: 20px;
                     }
                        }
}