@import './varibles.scss';
@import './utilities.scss';

.sub {
    width: 100%;
    height: 100vh;
    background: #fff;
    @include flexCenter;
    margin-top: 10rem;

    .subCard {
        width: 976px;
        height: 341.66px;
        background: radial-gradient(96.32% 571.83% at 98.4% 19.88%, #8FB3FF 0%, #9D6BE8 27.72%, #DE2778 54.29%, #B03DE2 100%);
        border-radius: 20px;

        @include smallDevices {
            width: 500px;
            height: 358px;
        }

        & h4 {
            font-size: 40px;
            margin-bottom: 1rem;
            margin-top: 2rem;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            text-align: center;
            color: #FFFFFF;
        }

        p {
            position: absolute;
            width: 551px;
            height: 56px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #fff;
            margin-left: 13rem;

            @include smallDevices {
                width: 351px;
                height: 26px;
                margin-left: 4.3rem;
                font-size: 20px;
            }
        }

        .subrequest {
            border-radius: 21px;
            width: 250px;
            height: 52px;
            border-radius: 25px;
            cursor: pointer;
            transition: 0.5s;
            margin-left: 25rem;
            margin-top: 8rem;
            background: #231A36;
            color: #FFFAF9;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 1rem;

            @include smallDevices {
                margin-top: 9rem;
                margin-left: 8.3rem;
            }

            i {
                padding: 1rem 2rem;
            }
        }

        .subrequest h3 {
            margin-top: -0.5rem;
            color: #DE2778;
            @include smallDevices {
               font-size: 2rem;
            }
        }
    }
}